<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>

        <activity
            android:name="io.github.peek.ui.PeekActivity"
            android:exported="false"
            android:label="Peek" />

    </application>

</manifest>